*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(190, 190, 190);
    color: white;
}

.main{
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px #1e2020;
    border-radius: 10px;
}

.box1{
    background-color: rgb(19, 65, 49);
}

.box2{
    background-color: rgb(48, 90, 29);
}
.box3{
    background-color: rgb(29, 160, 117);
}